.DS_store
_build
~$*
__pycache__/
build/


#cmake artefacts
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
*-config.cmake
*-config-version.cmake
CTestTestfile.cmake
Makefile

# Jupyter Notebook
.ipynb_checkpoints/
nbs/
**/.idea/

#VS Code
.vscode
