.DS_store
_build
~$*
__pycache__/
build/


#cmake artefacts
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
*-config.cmake
*-config-version.cmake
CTestTestfile.cmake
Makefile

# local build artifacts
dependencies/
install/
/.local/
src/fcidecomp/charls-2.4.2.tar.gz
src/fcidecomp/fcidecomp-test/data/sample.txt

# Jupyter Notebook
.ipynb_checkpoints/
nbs/
**/.idea/

#VS Code
.vscode
